@media (max-width: 85em) {
  .hero {
    max-width: 120rem;
  }
  .primary-head {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .secondary-head {
    font-size: 3.6rem;
  }
  .tertiary-head {
    font-size: 2.4rem;
  }
  .header-div {
    padding: 0 3.2rem;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
  .nav-list {
    gap: 3.2rem;
  }
  .testimonials-container {
    padding: 9.6rem 4.8rem;
  }
}
@media (max-width: 61em) {
  html {
    font-size: 50%;
  }
  .hero {
    grid-template-columns: 1fr;
  }
  .hero-text,
  .hero-img {
    text-align: center;
  }
  .img {
    width: 60%;
  }
  .delvd-meals {
    justify-content: center;
    margin-top: 4rem;
  }
  .logos {
    height: 2.4rem;
  }
  .number {
    font-size: 7.4rem;
  }
  .meal-content {
    padding: 0rem 1.8rem 1.6rem;
  }
  .diet-list {
    gap: 1.2rem;
  }
  .meal-name {
    font-size: 2.2rem;
  }
  .testimonial-section {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .cta {
    grid-template-columns: 3fr 2fr;
  }
  .form {
    grid-template-columns: 1fr;
  }
  .btn-form {
    margin: 1.2rem;
  }
  .mobile-nav-btn {
    display: block;
  }
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* STEPS TO COMPLETELY HIDE AN ELEMENT */
    /* STEP 1 */
    opacity: 0;
    /* STEP 2 */
    pointer-events: none;
    /* STEP 3 */
    visibility: hidden;
    transition: all 0.5s ease-in;
    transform: translateX(100%);
  }
  .nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .nav-open .nav {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }
  .nav-open .mobile-nav-icon[name="close-outline"] {
    display: block;
  }
  .nav-open .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
}
@media (max-width: 45em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .diet {
    grid-column: 1 / -1;
    justify-self: center;
  }
  .pricing-card {
    width: 100%;
  }
  .secondary-head {
    margin-bottom: 4.8rem;
  }
  .grid--5-cols {
    grid-template-columns: repeat(6, 1fr);
  }
  .foot-nav {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
  .omni,
  .address-box {
    grid-column: span 3;
  }
  .address-box {
    padding-right: 8.4rem;
  }
}
@media (max-width: 35em) {
  .grid {
    row-gap: 4.8rem;
  }
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }
  .hero-section {
    padding: 2.4rem 0 6.4rem 0;
  }
  .img {
    width: 80%;
  }
  .logos {
    height: 1.2rem;
  }
  .testing div:nth-child(2) {
    grid-row: 1;
  }
  .testing div:nth-child(6) {
    grid-row: 5;
  }
  .step-image-box {
    transform: translateY(3.2rem);
  }
  .testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .meals {
    width: 80%;
    margin: 0 auto;
  }
  .cta {
    grid-template-columns: 1fr;
  }
  .cta-img {
    height: 40rem;
    grid-row: 1;
  }
  .cta-form {
    padding: 1.2rem 2.4rem 2.4rem;
  }
  .cta-form .secondary-head {
    margin-bottom: 1.2rem;
  }
  .cta-text {
    margin-bottom: 2.4rem;
  }
  .mobile-nav-btn {
    z-index: 9999;
  }
}
